<div class="my-2 py-2 bg-success text-white text-center" style="border-radius: 4px;">
    <h2>Assignments</h2>
</div>

{{!-- display success message --}}
{{#if success_message}}
<div class="ui bg-success message">
    <i class="close icon"></i>
    <div class="header text-center text-white">
        {{ success_message }}
    </div>
</div>
{{/if}}

{{!-- whole page loader --}}
<div class="ui inverted dimmer" id="loader">
    <div class="ui large text loader">Loading</div>
</div>


<div class="card p-3">
    <table class="ui celled table text-center">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Title</th>
                <th>Author</th>
                <th>Download</th>
                <th>Status</th>
                <th colspan="2">Operations</th>
            </tr>
        </thead>
        <tbody>

            {{#each assignments}}
            <tr>
                <td data-label="S.N.">{{formatIndex @index }}</td>
                <td data-label="Title">{{ title }}</td>
                <td data-label="Author">{{ author }}</td>
                <td data-label="Download">
                    <center>
                        <img src="../../images/pdf.jpeg" height="30" alt="pdf"><br>
                        <a href="/downloadAssignment/{{title}}">Download</a>
                    </center>
                </td>
                <td data-label="Status">
                    {{#if (checkStatus status)}}
                    <button class="mini ui green  button" style="min-width:74px">
                        {{ status }}
                    </button>
                    {{else}}
                    <button class="mini ui red  button" style="min-width:74px">
                        {{ status }}
                    </button>
                    {{/if}}
                </td>

                <td>
                    <a href="/teacher/result_view/{{author}}/{{id}}" class="ui green basic button">View Results</a>
                </td>

                <td>
                    <button onclick="confirmDelete({{id}},'{{title}}')" class="ui red basic button">Delete</button>
                </td>


            </tr>
            {{/each}}

        </tbody>
    </table>

</div>


{{!-- confirm delete modal --}}

<div class="ui mini modal" style="top: auto; bottom: auto; left: auto; right: auto;">
    <div class="header">Confirm Deletion</div>
    <div class="content">
        <p> Are you sure to delete this assignment ?</p>
    </div>
    <div class="actions">
        <button class="ui cancel button green">No</button>
        <button class="ui approve button red">Yes</button>
    </div>
</div>